:root {
   --negro:#050000;
   --cielo:#ACC8E5;
   --verde:#79E089;
   --rosa:#DDC4C4;

}

a{
    font: 16px arial;
}
*:focus {
    background: linear-gradient(var(--cielo) 50%, white);}

/* ------------------------for screen readers only ----------------------*/
.sr-only {
    position: absolute!important;
    height: 1px;
    width:  1px;
    overflow: hidden;
    /* clip solo para position absolute o fixed*/
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap;
}
.sr-only:focus {
    /* background-color: #ACC8E5; */
    display: flex;
    height: 4vw;
    width:  100%;
    position: relative;
    clip: auto;
    border-radius: 4px;
    text-decoration: none;
}
.sr-only:hover {
    text-decoration: underline;
}
.skiptext{
    text-align: center;
    align-self: center;
    color: black;
    flex-grow: 1;
}
/* ------------------------for screen readers only ----------------------*/


body{
    background-color: rgb(133, 60, 60);
    margin:1vw;
    padding: 0;
}
.header{
    position: fixed;
    top: 0;
    z-index: 1;
    width: 96.5vw;
    box-sizing: border-box;

    }


.log-title-srch{
    background-color: rgb(24, 20, 231);
    display: flex;
    justify-content: space-between;
    align-content: stretch;
    align-items: baseline;
    height: 11vw;
    box-sizing: border-box;
    overflow: hidden;
    /* flex-wrap: nowrap; */
    /* margin-bottom: 20px; */
    }

.submit-srch{
    max-height: 1vw;
    margin: 0%;
    padding: 0%;
    flex-grow: 1;
    background: none;
    border: none;
}
.submit-srch-img{
    width: 5vw;
}
/* .srch{
    box-sizing: border-box;
    padding-left: 20px;}  */

.title{
    text-align: center;
    font-size: 9vw;
    padding: 0%;
    margin: 0%;
    flex-grow: 1;
    /* order: 1; */
}
/* .anchor-logo{
    box-sizing: border-box;
    overflow: hidden;
    max-height: 1px;
} */
.logo{
    height: 8vw;
    margin-left: 5vw;
    padding: 0%;
    /* order: -1; */
    /* flex-grow: 1; */
}

.hide{
    display: none;/*!!!!!!!!!!!!!!*/
}
nav{
    padding: 0%;
    margin: 0%;
}
.nav-list{
    display: flex;
    box-sizing: border-box;
    width: 100%;
    min-width: 630px;
    height: 4vw;
    background-color: var(--rosa);
    list-style: none;
    overflow: hidden;
    margin: 0%;
    padding: 0%;
    /* position: sticky; probarrrrrrrrrrrrr*/
}
.nav-list-item{
    flex-grow: 1;
    border-right: 1px dashed;
    text-align: center;
    align-self: center;
    
}   
.nav-list-item-link{
    text-decoration: none;
    /* display: block; con esto ocuparía todo el espacio disponible el focus, pero no me gusta*/
}
.nav-list-item-link:hover{
    text-decoration: underline;
}
.nav-list-item-link:focus{
border-radius: 20px;
padding: 5% 10%;
font-size: 18px;
} 
.main {
    background-color: #e1f0d2;
    position: relative;/*hacer relative para no afectar la posicion de otros elemetos*/
    top: 15vw;
    height: 80vw;
    width: 96.5vw;
    margin-bottom: 40px;

}

.footer {
    background-color: crimson;
    position: relative;/*conviene relative! sino me saca del flujo del doc*/
    top: 15vw;
    height: 15vw;
    width: 96.5vw;
    /*margin-bottom: 20px; no acepta, lo pisa absolute*/
}

/*1)por que en :focus, usando valores con vh, si hay desborde,se comporta distinto
a desbordar con %. Deforma todo. "ocupa espacio libre" y corre elementos. LINEA 143

4)subir place holder al tipear..como se hace?LINEA 80

7)lupa: "submit-srch" voy bien?*/
