:root {
   
   --cielo:#ACC8E5;
   --verde:#79E089;
   --rosa:#DDC4C4;
   --azul:#093048;
   --rojo: #a8011b;
   --gris:#bebebe;

}


*:focus {
    background: linear-gradient(var(--cielo) 50%, white);}

/* ------------------------ screen readers only ----------------------*/
.sr-only {
    position: absolute!important;
    height: 1px;
    width:  1px;
    overflow: hidden;
    /* clip solo para position absolute o fixed*/
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap;
}
.sr-only:focus {
    /* background-color: #ACC8E5; */
    display: flex;
    height: 40px;
    width:  100%;
    position: relative;
    clip: auto;
    border-radius: 4px;
    text-decoration: none;
}
.sr-only:hover {
    text-decoration: underline;
}
.skiptext{
    font: 20px arial;
    text-align: center;
    align-self: center;
    color: black;
    flex-grow: 1;
}
/* ------------------------END screen readers only ----------------------*/

body{
    background-color:var(--rojo);
    margin:0 1vw 1vw 1vw;
    padding: 0;
    padding-bottom: 15vw; /*compensa el TOP:15VW de MAIN Y FOOTER*/
}
.header{
    position: fixed;
    z-index: 1;
    width: 96.5vw;
    box-sizing: border-box;

    }
/*-------------------------LOGO-TITLE-AUTHOR-SEARCH-----------------------------------------*/
/*----------------LOGo-TITLE-------------*/
/* .logo-title{
display: flex;
} */
/*----------------LOGo-TITLE-------------*/
.log-title-srch{/*FLEX CONTENEDOR DEL LOGO, TIT, Y FORM SEARCH*/
    background: linear-gradient(.25turn, var(--azul)70%, white);
    display: flex;
    justify-content: space-between;
    align-content: stretch;
    align-items: flex-end;
    height: auto;
        }
/***************LOGO*****************************/
.logo-image{
    width: 22vw;
    min-width: 100px;
    height: auto;
    margin-top: 2px;

}
/*------------END LOGO--------------*/
/*------------TITLE----------------*/
.title{/*div contenedor de h1 y h2*/
    display: flex;
}
.title h1{
    font-size: 3vw;
    
}
.title h2{ 
    font-size:2vw;
    font-family: "Dancing Script", cursive;
    margin-left: 1vw;
}
.title a{
    color: white;
    text-decoration: none;
}
/*------------END TITLE------------*/
/*------------SEARCH FORM--------*/

.input-search{
    width: 20vw;
    min-width: 210px;
    height: auto;
    border: 3px solid black;
    border-radius: 5px;
    font-size: 20px;
}

.button-search{
    background: none;
    border: none;
}
.button-search-img{
    width: 30px;
    height: auto;
    cursor: pointer;
}
/*-----------END SEARCH FORM--------*/

/*-------------------------END LOGO-TITLE-AUTHOR-SEARCH--------------------*/

/*------------------------START NAVVVV-------------------------------------*/
nav{
    padding: 0%;
    margin: 0%;
}
.nav-list{
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 4vw;
    background-color: var(--rosa);
    list-style: none;
    margin: 0%;
    padding: 0%;
    
}
.nav-list-item{
    position: relative;
    flex-grow: 1;
    border-right: 1px dashed;
    text-align: center;
    align-self: center;
    
}   

.nav-list-item-link{
    font: 1.5vw arial;
    text-decoration: none;
    color: black;
    /* display: block; con esto ocuparía todo el espacio disponible el focus, pero no me gusta*/
}
.nav-list-item-link:hover{
    text-decoration: underline;
}
.nav-list-item-link:focus{
border-radius: 20px;
padding: 1.2vw 2vw;
font-size: 1.3vw;
} 

.submenu{
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5s;
    list-style: none;
    margin: 0%;
    padding: 0%;
    width: 120%;/*nav-list tmb se mueve en % de su padre*/
    position: absolute;
    background-color:var(--azul);
    z-index: 2;
    
}
.nav-list-item:hover .submenu{
    visibility: visible;
    opacity: 1;
}
.nav-list-item:focus-within .submenu{
    visibility: visible;
    opacity: 1;
}

.submenu-list-item{
height: 4vw;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
border-bottom: thick double black;
}

.submenu-list-item-link{
    font: 1.5vw arial;
    color: white;
    text-decoration: none;
    
}
.submenu-list-item-link:hover{
    text-decoration: underline;
}
.submenu-list-item-link:focus{
    border-radius: 20px;
    padding: 1.2vw 2vw;
    font-size: 1.3vw;
    color: black;
}
.main {
    background-color: #e1f0d2;
    position: relative;/*hacer relative para no afectar la posicion de otros elemetos*/
    top: 15vw;
    height: auto;
    width: 96.5vw;
    margin-bottom: 40px;
    z-index: 0;
}
/*----------------------------------------------SCROLL------------------------------*/
#block-img1 {
    /*position: 0%left, 0% top/background-attachment:fixed;/
    background-image:url(01.jpeg);// podría tmb definir valores para 
background-clip/background-color/background-origin/background-repeat*/
    background: url(images/01.jpg) fixed;
    background-size:cover;
    height: auto;
    width: 100%;
    /* margin: 0 auto; */
}

#block-img2{
    background: url(images/02.jpg) fixed;
    background-size: cover;
    height: auto;
    width: 100%;
}


#block-img3{
    background: url(images/03.jpg) fixed;
    background-size: cover;
    height: auto;
    width: 100%;
}

.block1{/*para divs padres que contienen los div hijos, con h2 y p, asi puedo 
    hacerle padding, desde el div hijo*/
    background-color: rgba(0,0,0,0.7);
    margin-bottom: 5vw;

}


.text {/*para el div hijo, de la clase de abajo*/
    color: white;
    text-align: center;
    padding: 5vw;
    font-size: 2vw;
}

.text h1{
    color: burlywood;
    font-size: 4vw;
    text-shadow: 1px 1px 1px white;/* offset-x | offset-y | blur-radius | color */
    margin-top: 0;
    border-radius: 5px;
    background-color: rgba(0,0,0);
    opacity: 80%;
    }

.text h2{
    color: burlywood;
    font-size: 4vw;
    text-shadow: 1px 1px 1px white;/* offset-x | offset-y | blur-radius | color */
    margin-top: 0;
    opacity: 80%;
    }

/*-------------------------------------------END SCROLL-------------------------*/   
/*--------------------------------------------FOOTER-----------------------------*/  
.footer {
    border: double thick rgb(3, 3, 3);
    position: relative;/*conviene relative! sino me saca del flujo del doc*/
    top: 15vw;
    height: auto;
    width: 96.5vw;
    /* margin-bottom: 100px;  */
    display: grid;
    grid-template: auto / 40% 20% 40%;
    box-sizing: border-box;
    }
.footer-copy{
    color: white;
    font-size: 20px;
    }

.footer-contact{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.footer-contact a, .footer-follow p{
    /* text-align: center; ya heredada para ambos elementos*/
    color: white;
    font-size: 20px;
    font-family: serif;
    margin: 0 0 .5vw 0;
}
.footer-contact a:hover{
    border: 1px solid white;
    font-size: 25px;
    border-radius: 5px;
}
.follow-facebook, .follow-linkedin{
    border-radius: 12px;
}
.footer-follow img{
width: 40px;
height: auto;
}

.footer-credits{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    color: white;
    font-size: 8px;
}
.footer-credits p {
    margin: 1% 0 0 2%;
    font-size: 21px;
    font-family: "Dancing Script", cursive;
}


/*-------------------------------------END FOOTER---------------------------------------*/

/*---------------------------CONTACT------------------------------------------------*/

.contact-text {
    text-align: left;
    color: white;
    padding: 5vw;
    font-size: 25px;
}
.contact-text h2{
    background-color: var(--rojo);
    border-bottom:thick double white;
    border-radius: 20px;
    text-align: center;
    color: burlywood;
    font-size: 45px;
    text-shadow: 1px 1px 1px white;/* offset-x | offset-y | blur-radius | color */
    opacity: 80%;
}
.contact-block1{
    background-color: rgba(0,0,0,0.9);
    margin-bottom: 5vw;
}
.contact-items{
    display: block;
    margin-bottom: 2.5vw;
    border-radius: 1vw;
}
#coment{
    width: 50vw;
    height: 15vw;
}

.contact-large{
    width: 25vw;
    min-width: 147px;
}
.buttoms-contact{
    border-radius: 10px;
    background-color: var(--rojo);
    color: white;
    font-size: 20px;
}
.buttoms-contact:hover{
    font-size: 25px;
}
.contact-text a{
    border-radius: 10px;
    background-color: var(--rojo);
    color: white;
    font-size: 20px;
    padding: 5px;
    border:1px solid white;
}
.contact-text a:hover{
    font-size: 25px;
}


/*----------------------------------MEDIASSSSSSSSSQQQQQ----------------------------*/
/*-------------------PC HIGH END PARA FUTURO CERCANO----------*/
@media (max-width:1200px){
    body{
        background-color: black;
    }
        .nav-list-item-link{
            font-size: 1.7VW;
        }
        .nav-list-item-link:focus{
            padding: 1.1vw 2vw;
            font-size: 1.5vw;
        } 
        .submenu-list-item-link:focus{
            padding: 1.1vw 2vw;
            font-size: 1.4vw;
        }
}
@media (max-width:1023px){
    body{
        background-color: rgb(61, 199, 241);
        }
    .nav-list{
            height: 5vw;
        }
    .title h1{
        font-size: 3.5vw;
        
    }
    .title h2{ 
        font-size:2.5vw;
        margin-left: 2vw;
    }
    .nav-list-item-link{
        font-size: 2VW;
    }
    .submenu-list-item-link{
        font-size: 1.75vw;
    }
    .nav-list-item-link:focus{
        padding: 1.4vw 2vw;
        font-size: 1.7vw;
    } 
    .submenu-list-item-link:focus{
        padding: 1.1vw 2vw;
        font-size: 1.5vw;
    }
}

@media (max-width:900px){
    body{
        background-color: rgb(243, 13, 232);
    }
    
    .title{
        flex-direction: column;
        margin-bottom: 1.5vw;
    }
    .title h1{
        font-size: 25px;
        margin: 0;
    }
    .title h2{ 
        font-size:20px;
        margin: 0;
    }       
}




@media (max-width:767px){
    body{
        background-color: rgb(191, 233, 41);
}
}


@media (max-width:640px){
    body{
        background-color: rgb(37, 241, 71);
    }
    #hide-logo{
        display: none;
        }
    .title{
        margin-bottom: 1.5vw;
    }
    
    .input-search{
        width: 40vw;
        min-width: 145px;
        height: auto;
        font-size: 16px;
    
    }
    .button-search-img{
        width: 25px;
        height: auto;
        margin-right: 5px;
    }
    .button-search{
        padding: 0;
    }
}
@media (max-width:370px){
    body{
        background-color: rgb(255, 255, 255);
        margin: 0;
        padding: 0;
}}



/*1)por que en :focus, usando valores con vh, si hay desborde,se comporta distinto
a desbordar con %. Deforma todo. "ocupa espacio libre" y corre elementos. LINEA 143

2)subir place holder al tipear..como se hace?LINEA 80

3) Input-search: no puedo cambiarle color fondo (gradiente)cuando clickeo. ¿con una class sobre form?

5) clip-path probar
*/